/* Mixins:
  ========================================================================== */

// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// font-face

@mixin font-face($name, $path, $weight: normal, $style: normal, $ext: ttf) {
  $src: null;

  $src: append($src, url($path + "." + quote($ext)) format(quote($ext)));

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}




