/* Vars:
  ========================================================================== */

// Font
$mainFont: 'Roboto', sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1440px;

// Colors
$lightGreen: #CED3CA;
$black1A: #1A1A1A;
$black29: #292929;
$black24: #242424;
$grayB3: #B3B3B3;
$grayA8: #A8A8A8;
$redFF: #FF3451;


