@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

// Base styles
html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
  padding: 0;
}

.container {
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  width: 1160px;
}

.ref-link {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: rem(15px);
  line-height: rem(22px);
  display: flex;
  flex-direction: column;

  &__text {
    border-bottom: 0.0625rem solid;
  }

  &:after {
    content: "→";
  }
}

// Main page

// Discount at the top of the page
.discount {
  background: $lightGreen;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  min-width: 100%;
  justify-content: center;

  &__text {
    margin-right: 1rem;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14px);
    line-height: rem(20px);
    color: #000000;
  }

  &__btn {
    background: $black1A;
    padding: 0.5rem 1rem;
    color: white;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(12px);
    white-space: nowrap;
  }
}

// Header
.header {
  margin-bottom: 2rem;

  &__container {
    padding: 2rem rem(18px) 2rem 0;
    border-right: 0.0625rem solid black;
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    margin-right: rem(50px);
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &-link {
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: rem(20px);
      line-height: 1.25rem;
      color: $black29;
    }
  }

  &__tools {
    display: flex;
    align-items: center;

    &-wrap {
      display: flex;

      &:not(:last-child) {
        margin-right: 1.875rem;
      }
    }

    &-inner {
      &:not(:last-child) {
        margin-right: 0.75rem;

        &:after {
          content: "|";
          margin-left: 0.75rem;
        }
      }
    }

    &-link {
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: rem(20px);
      line-height: 1.125rem;
      color: $black29;
    }
  }

  &__icon {
    fill: black;
  }
}

// Banner
.banner {
  &__container {
    width: 1360px;
    height: rem(600px);
    background: url("../images/sections/banner.jpg") no-repeat;
    background-color: $grayA8;
    background-size: 100% 100%;
    position: relative;
  }

  &__content {
    position: absolute;
    bottom: 3%;
    left: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .ref-link {
      color: white;
      border-color: white;
    }
  }

  &__title {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: (18px);
    line-height: rem(28px);
    color: #FFFFFF;
  }
}

// Products section
.products {

  &__container {
    padding: 1.125rem 0 rem(172px);
  }

  &__categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: rem(50px);

    &-item {
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: rem(17px);
      line-height: rem(27px);
      color: $grayB3;
      cursor: pointer;
      transition: 0.3s;
      transition-property: color;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &.active, &:hover {
        color: $black1A;
        padding-bottom: rem(5px);
        border-bottom: 0.0625rem solid $black1A;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__item {
    width: rem(275px);
    flex: 0 0 auto;
    margin-bottom: 2rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrap {
      height: rem(341px);
      margin-bottom: rem(11px);
      display: flex;
    }
  }

  &__title {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(15px);
    line-height: rem(18px);
    color: $black1A;

    &-note {
      font-size: rem(14px);
      color: $grayA8;
    }
  }

  &__price {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(13px);
    line-height: rem(13px);
    color: $black1A;

    &-discount {
      color: $redFF;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__button {
    background: $black1A;
    outline: none;
    padding: 0 3.75rem;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(20px);
    line-height: rem(56px);
    text-align: center;
    color: #F7F7F7;
    white-space: nowrap;
  }
}

// Section with reference

.ref {
  background: $lightGreen;
  padding: rem(127px) 0;

  &__container {
    background: white;
    display: flex;
  }

  &__text-wrap {
    max-width: rem(406px);
    flex: 0 0 auto;
    padding: rem(90px) rem(93px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .ref-link {
      color: $black1A;
      border-color: $black1A;
      margin-top: 2rem;
    }
  }

  &__heading {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(38px);
    line-height: rem(46px);
    color: $black1A;
  }

  &__text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(15px);
    line-height: rem(21px);
    color: $black1A;
    margin-top: rem(21px);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrap {
      flex: 1 0 auto;
    }
  }
}

// Categories of goods

.categories {
  &__container {
    padding: rem(113px) 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(30px);
    line-height: rem(36px);
    text-align: center;
    color: $black1A;
    max-width: rem(600px);
    text-align: center;
    margin-bottom: rem(92px);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: rem(522px);
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      width: 100%;
    }

    & .ref-link {
      color: $black1A;
      border-color: $black1A;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      width: 100%;
      height: rem(647px);
      margin-bottom: 0.5rem;
    }
  }
}

// About us
.about {
  background: url("../images/sections/about.jpg") no-repeat;
  background-color: $grayA8;
  background-size: 100% 100%;
  height: rem(600px);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__heading {
    max-width: rem(782px);
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(35px);
    line-height: rem(54px);
    text-align: center;
    color: #FFFFFF;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .ref-link {
      color: white;
      border-color: white;
      text-align: center;
    }
  }
}

// Callback form
.callback {
  height: rem(443px);
  background: $lightGreen;

  &__container {
    padding: rem(82px) 0 rem(129px);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__form {
    max-width: rem(404px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(34px);
    line-height: rem(41px);
    color: $black1A;
    margin-bottom: 1.125rem;
  }

  &__discription {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: rem(22px);
    color: $black1A;
    text-align: center;
    margin-bottom: rem(56px);
  }

  &__input {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: rem(22px);
    background: #FFFFFF;
    outline: rem(1px) solid $black24;
    padding: 0.75rem 1rem;
    flex: 1 0 auto;

    &-wrap {
      width: 100%;
      display: flex;
    }
  }

  &__submit {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.125rem;
    outline: rem(1px) solid $black24;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(24px);
    line-height: rem(24px);
    text-align: center;
    color: $black24;
    box-sizing: border-box;
  }

  &__icon {
    fill: $black24;
  }
}

// Footer
.footer {
  &__container {
    padding: rem(84px) 0;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;

    &-list {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        width: rem(300px);
        padding-right: 1rem;
      }
    }

    &-item {
      margin-bottom: 0.875rem;
    }

    &-link {
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: rem(15px);
      line-height: rem(15px);
      color: $black1A;
    }
  }

  &__note {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-wrap {
      display: flex;
      margin-bottom: 2rem;
    }
  }

  &__copyright {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: rem(15px);
    line-height: rem(21px);
    text-align: right;
    color: $black1A;
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
    align-items: flex-end;

    &-text {
      margin-top: 0.5rem;
      max-width: rem(233px);
    }
  }

  &__socials {
    display: flex;

    &-item {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__icon {
    fill: black;
  }
}


// form.html
.form {
  &__wrap {
    margin-bottom: 3rem;
  }

  &__list {
    margin-bottom: 2rem;
  }

  &__item {
    margin-bottom: 1rem;

    &:nth-child(4) {
      margin-bottom: 4rem;
    }
  }

  &__input {
    border: 0.0625rem solid black;
  }

  &__radio:checked + &__radio-label {
    font-size: 1.5rem;
  }

  &__input:focus + &__label {
    background: red;
  }

  &__reset {
    &:disabled {
      pointer-events: none;
      color: gray;
    }
  }

  &2 {
    &__description:after {
      content: "🛈";
    }

    &__list {
      margin-bottom: 3rem;
    }

    &__text-wrap {
      margin-bottom: 3rem;
    }

    &__checkbox:checked + &__label {
      text-decoration: line-through;
    }

    &__item:nth-child(2n) &__label {
      color: red;
    }
    &__item:nth-child(2n+1) &__label {
      color: blue;
    }
  }
}